@model ASPNETFavoriteAlbums.ViewModels.AlbumIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create new album</a>
</p>
<p>
    @foreach (Tag tag in Model.Tags)
    {
        <button type="button" value="@tag.Id" class="btn btn-secondary tag-button tag-@tag.Id">
            @tag.Name
        </button>
    }
    <button type="button" class="btn btn-secondary tag-reset-button">
        all
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Tags
            </th>
            <th>
                Modify
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Albums) {
            <tr class="album-row">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (Tag tag in item.Tags)
                    {
                        <button type="button" value="@tag.Id" class="btn btn-secondary tag-button tag-@tag.Id">
                            @tag.Name
                        </button>
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>