@model ASPNETFavoriteAlbums.ViewModels.AlbumIndexViewModel

@{
	ViewData["Title"] = "Index";
}

<p>
	<button type="button" class="btn btn-success tag-reset-button">
		All
	</button>
	@foreach (Tag tag in Model.Tags)
	{
		<button type="button" value="@tag.Id" class="btn btn-success tag-button tag-@tag.Id">
			@tag.Name
		</button>
	}
	<a class="btn btn-outline-success" asp-controller="Tag" asp-action="Index">Edit tags</a>
</p>

@foreach (Album album in Model.Albums)
{
	<a class="album-row" asp-action="Edit" asp-route-id="@album.Id" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
		@album.Name<br>
		@album.Artist<br><br>
		Tags:<br>
		@foreach (Tag tag in album.Tags) {
			@tag.Name<br>
		}
	" data-bs-placement="top">
		@foreach (Tag tag in album.Tags)
		{
			<div class="d-none tag-@tag.Id"></div>
		}
		<img src="https://upload.wikimedia.org/wikipedia/en/1/13/PinkFloydWallCoverOriginalNoText.jpg" class="img-thumbnail album-thumbnail" alt="">
	</a>
}
<a class="btn btn-primary" asp-action="Create">Add new album</a>