@model ASPNETFavoriteAlbums.ViewModels.AlbumIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create new album</a>
</p>
<p>
    @foreach (Tag tag in Model.Tags)
    {
        @tag.Name;
        <br />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Tags
            </th>
            <th>
                Modify
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Albums) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (Tag tag in item.Tags)
                    {
                        @tag.Name;
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
